body{
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 12px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.profile .section{
  margin-top: 15px;
}
.community-menu {
    font-size: 13px;
    color: #999;
}
.jumbotron{
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.comment-btn{
    float: right;
    margin-bottom: 10px;
}