<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>肥肥社区</title>
    <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/publish.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="jumbotron">
    <h1>出错啦! ! !</h1>
    <p th:text="${message}">服务太热啦 , 建议稍等一下进行重试</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">返回主页</a></p>
</div>
</body>
</html>