<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布-肥肥社区</title>
    <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/publish.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="请输入标题">
                </div>
                <div class="form-group">
                    <label for="title">详情</label>
                    <textarea name="description" th:value="${description}" id="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="请输入标签，以，号分隔">
                </div>

                <div class="alert alert-danger" th:if="${error!=null}" th:text="${error}"></div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发起指南</h3>
            · 标题：请用精简的语言描述您发布的标题，不超过25字
            · 详情：详细补充您发布的内容，并确保问题描述清晰直观并提供一些相关的资料
            · 标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过十个字

        </div>
    </div>
</div>

</body>
</html>